html {
  background: #FAF7F2;
  background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.subtle {
  color: #aaa;
}

.card-container {
  margin: 25px auto 0;
  position: relative;
  width: 692px;
}

.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
}

.card-media {
  width: 50px
}

.wrapper {
  width: 200px;
  height: 250px;
  border: 0px;
}

.exmpl {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exmpl img {
  height: 100%;
  width: auto;
}
