<header>
  <div class="container-fluid">
    <!-- change the image in style.css to the class header .container-fluid [approximately row 50] -->
    <div class="container">
      <div class="row">
        <!--asdfasf-->
      </div>
      <div class="block">
        <div class="logo"></div>
      </div>
      <div style="position: absolute; bottom:20px; left:50%">
        <button type="button" class="btn btn-outline-danger"><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 2em;"></i></button>
      </div>
    </div>
  </div>
</header>

<body>
  <div class="container" style="padding:60px 0px 60px 0px">
    <router-outlet></router-outlet>
  </div>
</body>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>Your Logo</h3>
        <p>© 2016 Your Company. Designed and Developed by <a target="_blank" href="http://www.themeinthebox.com">ThemeintheBox.com</a></p>
      </div>
      <div class="col-md-4">
        <p class="text-right social"><i class="typcn typcn-social-facebook-circular"></i><i class="typcn typcn-social-twitter-circular"></i><i class="typcn typcn-social-tumbler-circular"></i><i class="typcn typcn-social-github-circular"></i><i class="typcn typcn-social-dribbble-circular"></i></p>
      </div>
    </div>
  </div>
</footer>
